<h1>Celebrities</h1>
<form action="/celebrities/create" method="post">
 <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Occupation:
    <input type="text" name="occupation" />
  </label>

  <label> CatchPhrase:
    <textarea name="catchPhrase" cols="20" rows="2"> </textarea>
  </label>

  <button type="submit">Click to Create Celebrity</button>

</form>